body{
    font-family: 'Dongle', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 35px 80px;
    align-items: center;
}
#head-line{
    font-size: 40px;
    font-weight: 550;
    color: rgba(36, 33, 33, 0.856);
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: rgba(36, 33, 33, 0.856);
    font-size: 30px;
    font-weight: 550;
}
.fa-search, .fa-shopping-cart{
     font-size: 20px;
}

.first-section{
    display: flex;
    margin: 50px 90px;
}
.influencer{
    width: 50%;
}
.influencer h1{
    font-size: 70px;
    color: rgba(36, 33, 33, 0.856);
    line-height: 80%;
    font-weight: 500px;
}
.influencer p{
    font-size: 30px;
    line-height: 80%;
}
.influencer a{
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    padding: 3px 30px;
    background-color: rgb(199, 21, 66);
    border-radius: 30px;
}
.fa-arrow-right{
    font-size: 20px;
    margin-left: 5px;
}
.influencer img{
    width: 70%;
    margin-left: 20%;
    border: 1px solid rgba(54, 52, 52, 0.144);
    border-radius: 200px;
}